.logo {
    width: 10%;

}

header {
    display: grid;
    grid-template-columns: 10%, 90%;
}

#section1 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

#section2{
    display: grid;
    grid-template-columns: 1fr;
}

#section3 {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 2fr, 1fr, 1fr;
}


/* colors? */
.text {
    background-color: gray;
}

