body {
    margin: 0;
}

nav {
    background-color: blueviolet;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

nav a:hover {
    background-color: rgb(122, 39, 199);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav, nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 700px) {
    nav, nav ul {
        flex-direction: column;
    }
}